* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

/* shared styles */
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn {
  padding: 12px 16px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);

}

.btn:hover {
  cursor: pointer;
  background-color: rgba(33, 125, 71, 0.979);

}

.green {
  border: none;
  background-color: rgba(70, 145, 101, 1);
}

.white {
  border: 1px solid rgba(255, 255, 255, 1);
  background: none;
}

.text-content {
  font-size: 16px;
  font-weight: 400;
  color: rgba(98, 115, 130, 1);
}

.text-heading {
  color: rgba(0, 25, 49, 1);
  font-size: 48px;
  font-weight: 700;
}


/* Main styles */

/* Navbar section */
.nav-sec {
  background: rgba(251, 251, 251, 1);
}

nav {
  padding: 16px 120px;
  display: flex;
  justify-content: space-around;
}

.kv-logo {
  width: 139px;
}

.pages a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

.pages {
  list-style: none;
  display: flex;
  gap: 32px;
  align-items: center;
}

.btns .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

/* Hero section */
.hero-container {
  background: url(./assets/hero-bg.png), rgba(0, 25, 49, 0.8);
  background-position: center;
  background-repeat: no-repeat;
  padding: 70px 120px 134px 120px;
  text-align: center;
}

.oc,
.mc,
.ic {
  background-color: rgba(70, 145, 101, 1);
  border-radius: 10px;

}

.oc {
  width: 16px;
  height: 16px;
  opacity: 0.2;
  margin-right: 6px;
  padding: 2px;
}

.mc {
  width: 12px;
  height: 12px;
  opacity: 0.4;
  padding: 3px;

}

.ic {
  width: 6px;
  height: 6px;
}

.ea-btn {
  background-color: rgba(251, 251, 251, 1);
  color: rgba(70, 145, 101, 1);
  font-size: 16px;
  font-weight: 500;
  border-radius: 1000px;
  margin-bottom: 16px;
}

.ea-btn:hover {
  background-color: rgba(255, 255, 255, 0.815);
}

.fh-line {
  font-weight: 700;
  font-size: 72px;
  color: rgba(251, 251, 251, 1);
  margin-bottom: 16px;
}

.sh-line {
  color: rgba(48, 184, 104, 1)
}

/* needs rework */

.sub-heading-sec {
  color: rgba(255, 255, 255, 1);
  margin: 0 auto 32px;
}

.sub-heading-sec p {
  line-height: 24px;
  font-size: 18px;
  font-weight: 400;

}

/* needs rework */
.btns {
  display: flex;
  justify-content: center;
  gap: 16px;
}

/* Card section */
.card-container {
  margin: 50px 120px 0 120px;
}

.card-sec-title {
  text-align: center;
}

.card-sec-title h3 {
  margin-bottom: 16px;
}

.card-sec-title p {
  margin-bottom: 44px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 24px;
  border-radius: 8px;
}

.card .bg {
  padding: 15px 15px;
  background: rgba(249, 85, 85, 1);
  height: 32px;
  width: 32px;
  border-radius: 100px;

}

.card img {
  width: 32px;
  height: 32px;
}

.card {
  width: 322px;
  height: 300px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 16px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
}

.card h3 {
  font-size: 24px;
  font-weight: 600px;
  color: rgba(0, 25, 49, 1);
  margin-bottom: 16px;
}

/* brain section */
.brain-container {
  margin: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.brain-content {
  text-align: left;
}

.brain-content h4 {
  color: rgba(70, 145, 101, 1);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
}

.brain-content h2 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
}

.brain-content p {
  width: 700px;
  margin-bottom: 40px;
}

.brain-content ul {
  list-style: none;
}

.brain-container li {
  color: rgba(0, 25, 49, 1);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
}

/* ready section */

.ready-container {
  width: 1360px;
  background: rgba(247, 246, 242, 1);
  padding: 80px 40px;
  margin: 0 120px 120px 120px;
  border-radius: 12px;
  text-align: center;
}

.ready-container h3,
.btn {
  margin-bottom: 16px;
}

.ready-container .btn {
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
}

.ready-container p {
  margin-bottom: 24px;
}

/* footer section*/
.footer-sec {
  background: rgba(0, 25, 49, 1);
  padding: 120px 120px 30px 120px;
}

.footer-container {

  display: flex;
  justify-content: space-between;
}

.social-heading {
  color: rgba(255, 255, 255, 1)
}

.icons img {
  height: 20px;
  width: 20px;
}

.icons {
  margin-top: 16px;
  display: flex;
  gap: 16px;
}

.icons .i-bg {
  width: 20px;
  height: 20px;
  padding: 5px;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 1);
}

.line {
  margin-top: 80px;
  background-color: rgba(229, 231, 235, 1);
  opacity: 0.2;
}

.copyright {
  color: rgba(251, 251, 251, 1);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-top: 30px;
}