* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

/* shared styles */
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn {
  padding: 12px 16px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  border: none;

}

.btn:hover {
  cursor: pointer;
  background-color: rgba(33, 125, 71, 0.979);

}

.green {
  background-color: rgba(70, 145, 101, 1);
}

.white {
  border: 1px solid rgba(255, 255, 255, 1);
}

/* Main styles */

.nav-sec {
  background: rgba(251, 251, 251, 1);
}

nav {
  padding: 16px 120px;
  display: flex;
  justify-content: space-around;
}

.kv-logo {
  width: 139px;
}

ul a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

ul {
  list-style: none;
  display: flex;
  gap: 32px;
  align-items: center;
}

