* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

/* shared styles */
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn {
  padding: 12px 16px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);

}

.btn:hover {
  cursor: pointer;
  background-color: rgba(33, 125, 71, 0.979);

}

.green {
  border: none;
  background-color: rgba(70, 145, 101, 1);
}

.white {
  border: 1px solid rgba(255, 255, 255, 1);
  background: none;
}

/* Main styles */

.nav-sec {
  background: rgba(251, 251, 251, 1);
}

nav {
  padding: 16px 120px;
  display: flex;
  justify-content: space-around;
}

.kv-logo {
  width: 139px;
}

ul a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

ul {
  list-style: none;
  display: flex;
  gap: 32px;
  align-items: center;
}


.hero-container {
  background: url(./assets/hero-bg.png), rgba(0, 25, 49, 0.8);
  background-position: center;
  background-repeat: no-repeat;
  padding: 70px 120px 134px 120px;
  text-align: center;
}

.ea-btn {
  background-color: rgba(251, 251, 251, 1);
  color: rgba(70, 145, 101, 1);
  font-size: 16px;
  font-weight: 500;
  border-radius: 1000px;
  margin-bottom: 16px;
}

.ea-btn:hover {
  background-color: rgba(255, 255, 255, 0.815);
}

.fh-line {
  font-weight: 700;
  font-size: 72px;
  color: rgba(251, 251, 251, 1);
  margin-bottom: 16px;
}

.sh-line {
  color: rgba(48, 184, 104, 1)
}

/* needs rework */

.sub-heading-sec {
  color: rgba(255, 255, 255, 1);
  margin: 0 auto 32px;
}

.sub-heading-sec p {
  line-height: 24px;
  font-size: 18px;
  font-weight: 400;

}

/* needs rework */
.btns {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.card-sec-title {
  text-align: center;
}

.card-container {
  margin: 50px 120px 120px 120px;
}

.card-sec-title h3 {
  color: rgba(0, 25, 49, 1);
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
}

.card-sec-title p {
  color: rgba(98, 115, 130, 1);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 44px;
}

.cards {
  display: flex;
  justify-content: center;
  
  gap: 24px;
  padding: 24px;
  border-radius: 8px;
}

.card .bg {
  padding: 15px 15px;
  background: rgba(249, 85, 85, 1);
  height: 32px;
  width: 32px;
  border-radius: 100px;

}

.card img {
  width: 32px;
  height: 32px;
}

.card {
  width: 322px;
  height: 300px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 16px;
  border-radius :8px ;
  box-shadow:  0px 0px 8px 0px rgba(0, 0, 0, 0.06);
}
.card h3{
  font-size: 24px;
  font-weight: 600px;
  color: rgba(0, 25, 49, 1);
  margin-bottom:16px ;
}
.card p{
  color: rgba(98, 115, 130, 1);
  font-size: 16px;
  line-height: 20px;
}